<template>
    <div class="flex gap-x-2 w-max ">
        <button class="px-4 py-2 rounded-lg font-medium bg-blue-100 h-max self-end" v-if="currentPage != 1" @click="$emit('previousPage')"> Prev</button>
        <button class="px-4 py-2 rounded-lg font-medium bg-gray-200 h-max self-end" v-else> Prev</button>
        <div class="hidden md:block" v-if="amountOfPages < 10 && amountOfPages > 1" v-for="(page, index) in amountOfPages" :key="index" >
            <button v-if="page == 1" class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click="$emit('clicked',page); $emit('firstPage', page)">{{ page }}</button>
            <button v-else class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click="$emit('clicked',page); $emit('fetchPage', index)">{{ page }}</button>
        </div>
        <div class="block md:hidden" v-if="amountOfPages <= 5 && amountOfPages > 1" v-for="(page, index) in amountOfPages" :key="index" >
            <button v-if="page == 1" class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click="$emit('clicked',page); $emit('firstPage', page)">{{ page }}</button>
            <button v-else class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click="$emit('clicked',page); $emit('fetchPage', index)">{{ page }}</button>
        </div>
        <div class="space-x-2 flex items-end relative" v-else>
            <div  class="hidden md:block border-2 border-gray-200 bg-white shadow-xl rounded-md flex flex-wrap w-72 gap-0.5 absolute bottom-12 -right-20" v-show="paginationOpen || currentPage > 10">
                <button v-for="(page, index) in amountOfPages - 10" :key="index" 
                class="px-4 py-2 rounded-lg font-medium font-mono" :class="[{'text-white bg-blue-500' : currentPage === page + 10}, {'bg-blue-100' : currentPage != page + 10}]" @click="$emit('fetchPage', index + 10); $emit('clicked',page + 10)">{{ page + 10 }}</button>
            </div>
            <div  class="block md:hidden border-2 border-gray-200 bg-white shadow-xl rounded-md flex flex-wrap w-72 gap-0.5 absolute bottom-12 -right-20" v-show="paginationOpen || currentPage > 10">
                <button v-for="(page, index) in amountOfPages - 10" :key="index" 
                class="px-4 py-2 rounded-lg font-medium font-mono" :class="[{'text-white bg-blue-500' : currentPage === page + 10}, {'bg-blue-100' : currentPage != page + 10}]" @click="$emit('fetchPage', index + 10); $emit('clicked',page + 10)">{{ page + 10 }}</button>
            </div>
            <div class="hidden md:block" v-for="(page, index) in 10">
                <button v-if="page == 1" class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click.self="$emit('clicked',page); $emit('firstPage', page)" >{{ page }}</button>
                <button v-else class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click.self="$emit('clicked',page); $emit('fetchPage', index)" >{{ page }}</button>
            </div>
            <div class="block md:hidden" v-for="(page, index) in 5">
                <button v-if="page == 1" class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click.self="$emit('clicked',page); $emit('firstPage', page)" >{{ page }}</button>
                <button v-else class="px-4 py-2 rounded-lg font-medium" :class="[{'text-white bg-blue-500' : currentPage === page}, {'bg-blue-100' : currentPage != page}]" @click.self="$emit('clicked',page); $emit('fetchPage', index)" >{{ page }}</button>
            </div>
            <button class="px-4 py-2 rounded-lg font-medium bg-blue-100 relative h-max" @click="paginationOpen = !paginationOpen">...</button>
        </div>
        <button class="px-4 py-2 rounded-lg font-medium bg-blue-100 h-max self-end" v-if="currentPage != amountOfPages" @click="$emit('nextPage')">Next</button>
        <button class="px-4 py-2 rounded-lg font-medium bg-gray-200 h-max self-end" v-else>Next</button>
    </div>
</template>

<script setup>
 import { ref } from 'vue'
 const paginationOpen = ref(false)

    defineProps({
        currentPage:{
            type:Number,
            default:1,
            required:true
        },
        amountOfPages:{
            type:Number,
            default:1,
            required:true
        }
    })
</script>

<style>

</style>