<template>
<div class="w-64">
    <img class="rounded-full bg-white mx-auto bg-blue-100 h-32" v-if="pokemon.image != undefined" :src="pokemon.image">
    <div class="p-16 w-max mx-auto rounded-full bg-gray-500" v-else></div>
    <div class="px-3">
      <p class="font-medium text-xl text-center">{{ pokemon.name[0].toUpperCase() + pokemon.name.substring(1) }}</p>
      <p class="font-medium text-lg text-center">height: {{ pokemon.height }} dm</p>
      <p class="font-medium text-lg text-center">weight: {{ pokemon.weight }} lbs</p>
    </div>
</div>
</template>

<script setup>
 defineProps({
    pokemon:{
        type:Object,
        required: true,
    }
 })
</script>

<style>

</style>
