<template>
<div class="flex flex-col-reverse py-8">
  <div class="flex flex-col justify-center items-center space-x-8 mt-8 space-y-4">
    <p class="text-center font-medium">Displaying {{ pokemons.length }} pokemons out of {{ totalPokemons }}</p>
    <LoadMoreButton @click="addData() ; offsetAmount += 15" v-if="totalPokemons - pokemons.length >= 0 "/>
  <Pagination class="" @first-page="pokemonFetch(50,0)" @clicked="(page) => currentPage = page" @fetch-page="pokemonFetch(30,currentPage * 30)" :amountOfPages="Math.ceil((1126 - offsetAmount) / 30 )" @next-page="nextPage()" @previous-page="prevPage()" :currentPage="currentPage" />

  </div>
  <div class="flex flex-wrap gap-3 justify-center">
    <div v-for="(pokemon, index) in pokemons" :key="index" >
      <PokemonCard :pokemon="pokemon"/>
    </div>
  </div>
</div>
</template>

<script setup>
  import Pagination from './components/Pagination.vue' 
  import PokemonCard from './components/PokemonCard.vue'
  import LoadMoreButton from './components/LoadMoreButton.vue' 
  import {  ref } from 'vue'
  var pokemons = ref([])
  var totalPokemons = ref()
  var offsetAmount = ref(50)
  var currentPage = ref(1)

  function prevPage(){
    if(currentPage.value >= 3 ){
      currentPage.value--
      pokemonFetch(30, currentPage.value * 30)
    } else {
      currentPage.value = 1
      pokemonFetch(50,0)
    }
  }

  const nextPage = () => {
    if(currentPage.value != Math.ceil((totalPokemons.value - offsetAmount.value) / 30 )){
      currentPage.value++;
      pokemonFetch(30, currentPage.value * 30)
    } else {
      return 
    }
  }

  async function pokemonFetch(amount, offset){
  //get basic data 
  const response =  await fetch(`https://pokeapi.co/api/v2/pokemon/?limit=${amount}&offset=${offset}`)
  const data = await response.json()

  //set total amount of pokemons
  totalPokemons.value = data.count

  //get advanced data from list of pokemons (promises)
  var fetches = data.results.map(async result => {
  const response = await fetch(result.url)
  return await response.json()
  })

  //resolve all promises and map response 
  Promise.all(fetches).then(res => {
    pokemons.value =  
    res.map(data => ({
        name: data.name,
        id:data.id,
        image:data.sprites["front_default"],
        height:data.height,
        weight:data.weight
      }));  
  }) 
  }

  async function addData(){

  const response =  await fetch(`https://pokeapi.co/api/v2/pokemon/?limit=15&offset=${offsetAmount.value}`)
  const data = await response.json()

  var fetches = data.results.map(async result => {
  const response = await fetch(result.url)
  return await response.json()
  })
  //add new data to pokemons ref array
  Promise.all(fetches).then(res => {
    pokemons.value = pokemons.value.concat(  
    res.map(data => ({
        name: data.name,
        id:data.id,
        image:data.sprites["front_default"],
        height:data.height,
        weight:data.weight
      })));  
  })
  }
  pokemonFetch(50,0)

</script>

<style>

</style>
